<!DOCTYPE html>
<html lang="en">
<head>
<title>All Tasks</title>
<link rel="stylesheet" type="text/css" href="/static/task.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>
<body>
<div class="myHead">
<div class="jumbotron">
      <h1>Clash Workspace : {{round}}</h1>
      <p>Work. Eat. Repeat.</p>
      <p></p>
</div>

{% for task in tasks %}
    <script>
        $(document).ready(function()
        {
          $('#div{{task.task_id}}').hide();
          $("#btn{{task.task_id}}").click(function()
          {
            var link = $(this);
            $("#div{{task.task_id}}").toggle("1.5", function()
            {
                if ($(this).is(':visible')) {
                     link.text('Collapse');
                } else {
                     link.text('Expand');
                }
            });
          });
        });
    </script>
{% endfor %}

<script>
	function fun(file_id,file_name,file_path)
	{
		var xmlhttp;
		xmlhttp=new XMLHttpRequest();
		xmlhttp.open("POST","/generatefile/{{team}}",true);
		xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xmlhttp.send("file_id="+file_id.toString()+";username={{user.uname}};sesid={{user.ses_id}}");
		xmlhttp.onreadystatechange=function()
		{
			if(xmlhttp.readyState==4&&xmlhttp.status==200)
			{
				// alert("path: "+"/static/files/"+file_path+"/"+file_name);
				window.location.href = "/static/files/"+file_path+"/"+file_name;
				//$(this).attr({'href':"/static/files/"+file_path+"/"+file_name,'target':'_blank'});
			}
		}
	}
</script>


<div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Clash '14</a>
          </div>

          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="../feeds/{{ team }}">Feeds</a></li>

              <li><a href="../mom/{{ team }}">M.O.Ms</a></li>
              <li class="active"><a href="../alltasks/{{ team }}">All Tasks</a></li>
              <li><a href="../mytasks/{{ team }}">My Tasks</a></li>

            </ul><!--nav navbar-nav-->
            <a href="/logout" class="btn btn-small btn-primary pull-right">Logout</a>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
</div><!--/.nsv inverse-->
</div><!--/.myHead -->

<div class="form-horizontal">
    <fieldset>
        <legend>
        	All Tasks
        	{% if is_admin %}
				<a  href="/ctasks/{{team}}" class="btn btn-small btn-success pull-right">New Task</a>
			{% endif %}
        </legend>

        {% for task in tasks %}
        <!--one MOM conntainer-->
        <div class="container">
		    <div class="control-group">

		      <div class="row">
		        <div class="col-lg-6">
		          <h1>{{task.task_name}} : {{task.assigned_to}} </h1>
		     	</div>
		       </div>


		        <!--status checkboxes -->
		        <div class="row">
				  <div class="col-lg-5">
					<div class="input-group">
					  <span class="input-group-addon">
						<span class="glyphicon glyphicon-ok"></span>
					  </span>
					  <input type="text" class="form-control" value="Created: {{task.created_time}}" disabled="disabled">
					</div><!-- /input-group -->
				  </div><!-- /.col-lg-4 -->

				  	<div class="col-lg-4">
					  <div class="input-group">
					  <span class="input-group-addon">
						<span class="glyphicon glyphicon-ok"></span>
					  </span>
					  <input type="text" class="form-control" value="Deadline: {{task.deadline_time}}" disabled="disabled">
					</div><!-- /input-group -->
				  </div><!-- /.col-lg-4-->

				  {% if not task.submitted %}
				  <div class="row">
				    <div class="col-lg-2">
				      <a class="btn btn-small btn-default pull-left" disabled="disabled">Not submitted</a>
				    </div><!-- /.col-lg-6-->
				  {% endif %}

				  {% if task.submitted and not task.accepted %}
				      {% if not is_admin %}
						  <div class="row">
							<div class="col-lg-2">
							  <a class="btn btn-small btn-warning pull-left" disabled="disabled">Under review</a>
							</div><!-- /.col-lg-6-->
					  {% else %}
						  <div class="row">
						  <form action="./{{team}}" method="post">
						  <input type="hidden" name="task_id" value="{{task.task_id}}">
							<div class="col-lg-2">
							<input type="hidden" name="accept" value="accept">
							  <input type="submit" class="btn btn-small btn-warning pull-left" value="Accept">
							</div><!-- /.col-lg-6-->
						   </form>
					  {% endif %}
				  {% endif %}

				  {% if task.accepted %}
				  <div class="row">
				    <div class="col-lg-2">
				      <a class="btn btn-small btn-success pull-left" disabled="disabled">Accepted</a>
				    </div><!-- /.col-lg-6-->
				  {% endif %}

                    <div class="col-lg-1">
				        <button type="button" class="btn btn-default" id="btn{{task.task_id}}">
                            Expand
                        </button>
                    </div>
				</div><!--/.row -->
				<br>

                <div id="div{{task.task_id}}">
				{% for file in task.file_set.all %}
				  <div class="row">
				    <div class="col-lg-2">
				      <a class="btn btn-small btn-default pull-left" disabled="disabled"><b>{{ file.file_name }}</b></a>
				    </div><!-- /.col-lg-6-->

				    <div class="col-lg-3">
				      <a class="btn btn-small btn-default pull-left" disabled="disabled"><b>{{ file.tags }}</b></a>
				    </div><!-- /.col-lg-6-->


				    <div class="col-lg-3">
					<div class="input-group pull-right">
					  <span class="input-group-addon">
						<span class="glyphicon glyphicon-ok"></span>
					  </span>
					  <input type="text" class="form-control" value="{{file.submitted_time}}" disabled="disabled">
					</div><!-- /input-group -->
				  </div><!-- /.col-lg-2 -->
				  <div class="col-lg-1 pull-left">
				    {% if download %}
					  <a onclick="fun({{file.file_id}},'{{file.file_name}}','{{user.files_path}}')" class="btn btn-small btn-custom-deep pull-left">Download</a>
					  {% endif %}
					</div><!-- /.col-lg-1-->

					{% if file.accepted %}
					    <div class="col-lg-1 pull-left">
					  		<a class="btn btn-small btn-success pull-left" disabled="disabled">Accepted</a>
						</div><!-- /.col-lg-1-->
						<!-- green button -->
					{% else %}
						{% if not is_admin %}
							<div class="col-lg-1 pull-left">
						  		<a class="btn btn-warning pull-left" disabled="disabled">Reviewing</a>
							</div><!-- /.col-lg-1-->
							<!-- orange button -->
						{% else %}
							<form action="./{{team}}" method="post">
								<input type="hidden" name="file_id" value="{{file.file_id}}">
								<div class="col-lg-1 pull-left">
							  		<input type="submit" class="btn btn-warning pull-left" value="Accept">
								</div><!-- /.col-lg-1-->
								<!-- orange button -->
							</form>
						{% endif %}
					{% endif %}

				  </div><!-- /.ROW-->
				 <br>
				 {% endfor %}

			<!--panel for posting previous comments-->
		        <p></p>
		        <div class="panel panel-default">
				  <div class="panel-heading"><b>Comments</b></div>

				   {% for comment in task.comments_set.all %}
				    <div class="panel-body">
				      <b>{{comment.user}}: </b>{{comment.text}} <div style="float:right">{{comment.date}}</div>
				    </div>
				   {% endfor %}

				  </div>

		        	<!--comments area-->
		        	<p></p>
		        	<lable for="user_id" class="btn btn-small btn-default pull-left" disabled="disabled"><b>Comment</b></lable>
		        	<form action="./{{team}}" method="post">
		        		<input type="hidden" name="task_id" value="{{task.task_id}}">
						<div class ="col-lg-10">
							<input class="form-control focusedInput" type="text" name="text" placeholder="Post comment here...">
						</div>
						<div class="col-lg-1 pull-left">
						  <input type="submit" value="Submit" class="btn btn-small btn-success pull-left">
						</div>
					</form>
					<br>
					<hr>

        <hr>
        </div><!--/.container -->

        </div>
        </div>
        </div>

        {% endfor %}
    </fieldset>
</div>

