<!DOCTYPE html>
<head>
<title>Admins</title>
<link rel="stylesheet" type="text/css" href="/static/admin.css">
</head>
<body>
<div class="adHead">
   <div class="jumbotron">
      <h1>Clash Workspace!</h1>
      <p>Work. Eat. Repeat.</p>
      </p>
   </div>
</div>
<div class="container">
	<div class="myRow">
			<a href="/feeds/0">
			<img src='/static/1.png' width="300" >
			</a>
			<a href="/feeds/1">
			<img src='/static/2.png' width="300" href="/feeds/1">
			</a>
			<a href="/feeds/2">
			<img src='/static/st.png' width="300" href="/feeds/2">
			</a>
	</div>
</div>
