<html>
	<title>New task</title>
	<form action="/ctasks/{{ team }}" method="POST">
		<textarea placeholder="task name" style="height:10%;width:40%" name="task_name"></textarea><br/><br/>
		<textarea placeholder="tags" style="height:10%;width:40%" name="tags"></textarea><br/><br/>

		<b>Assigned to:</b> 
		<select name="assigned_to">
			{% for user in users %}
				<option name="{{user.uname}}">{{user}}</option>
			{% endfor %}
		</select>
		<pre><b>Deadline:</b>    <input type="datetime-local" name="deadline"><br/><br/></pre>
		<input style="height:4%;width:10%" type="submit">
	</form>
</html>
